.web2Login {
    display: flex;
    width: 100%;
    height: 30%;
    align-items:flex-start;
    justify-content: center;

    .loginbtn{
        margin: 10px 0;
        padding: 5px;
        width: fit-content;
        text-decoration: none;
        height: 8%;
        font-size: 13px;
        font-weight: 600;
        background-color: var(--ethpurple);
        border-radius: 10px;
        cursor: pointer;
    }

    .signupbtn{
        margin: 10px 0;
        padding: 5px;
        width: fit-content;
        text-decoration: none;
        height: 8%;
        font-size: 13px;
        font-weight: 600;
        background-color: var(--ethpurple);
        border-radius: 10px;
        cursor: pointer;
    }
}