.earningsbtn {
    padding: 5px;
    width: fit-content;
    font-size: 13px;
    font-weight: 600;
    color: rgb(0, 39, 0);
    background-color: var(--ethfoamgreen);
    border: 1px solid green;
    border-radius: 10px;
    cursor: pointer;
}