.logoutBtn {
    border: 2px;
    border-color: var(--ethred);
    color: var(--ethred);
    background-color: var(--ethblack);
    border-radius: 20px;
    font-size: 1.1vw;
    font-weight: 550;
    padding: 8px 15px;
}