::-webkit-scrollbar {
    display: none;
}

.app{
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    scrollbar-width: none; // for firefox
    overflow: scroll;
    background-color: var(--ethblack);
}