.all-posts-container {
    display: flex;
    flex-direction: column;
}

.post-detail-container {
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--ethblue);
    border-radius: 5px;
    background-color: rgba(220,220,220, 0.5);
}

#post-username {
    padding-bottom: 10px;
}

#post-title {
    font-size: 16px;
    color: var(--ethblue);
}

#post-caption {
    font-size: 13px;
    color: var(--ethlightblue);
}
