#mmconnectbtn {
    padding: 5px;
    width: fit-content;
    font-size: 13px;
    font-weight: 600;
    color: white;
    background-color: var(--anemoneblue);
    border: 1px solid var(--ethblue);
    border-radius: 10px;
    cursor: pointer;
}