.signupwrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    align-items: center;
    justify-content: flex-end;

    .subusernamewrapper{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .subaddresswrapper{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .subpasswordwrapper{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .subconfirmpasswordwrapper{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .signupbutton{
        border: none;
        margin: 10px 0;
        padding: 5px;
        width: fit-content;
        text-decoration: none;
        height: 8%;
        font-size: 13px;
        font-weight: 600;
        background-color: var(--ethpurple);
        border-radius: 10px;
        cursor: pointer;
    }
}
