/* @import "../../global.scss"; */

.web3login {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    .alreadyregistered{
        display: flex;
        flex-direction: column;
        padding-bottom: 5%;
        align-items: center;

        .enterErrPlaceholder{
            color: var(--ethred);
            // font-size: 1vw;
            font-weight: 600;
        }
        
    }
    .notregistered{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5%;

        .regiErrPlaceholder{
            color: var(--ethred);
            // font-size: 1vw;
            font-weight: 600;
        }

        #details{
            font-size: 1.5vw;
            font-weight: 600;
        }

        #regbtn{

        }
    }
    
    .loginButtons {
        align-items: center;
        width: fit-content;
        background-color: var(--ethpurple);
        border: none;
        cursor: pointer;
        border-radius: 10px;
        font-size: 2vw;
        font-weight: 500;
        
    }
    .loginButtons:hover{
        transform: scale(.9);
    }
    .web3logindiv{
        display: flex;
        justify-content: center;
        font-size: 3vw;
        font-weight: 700;
        color: var(--ethfoamgreen);
        text-align: center;
    }
}
