.formWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: calc(100vh - 60px);
    top: 60px;

    .connectBtn{
        border: none;
        padding: 1%;
        width: fit-content;
        text-decoration: none;
        height: fit-content;
        font-size: 1.2vw;
        font-weight: 600;
        background-color: var(--ethpurple);
        border-radius: 10px;
        cursor: pointer;
    }

    .noCursor{
        cursor: auto;
    }

    .loginwrapper{
        display: flex;
        flex-direction: column;
        width: 30%;
        min-width: 420px;
        height: 30%;
        min-height: 190px;
        align-items: center;
        justify-content: center;
        color: white;
    
        .usernamewrapper{
            display: flex;
            width: 100%;
            justify-content: flex-end;
            margin-top: 1%;
            margin-right: 50%;
        }
    
        .passwordwrapper{
            display: flex;
            width: 100%;
            justify-content: flex-end;
            margin-right: 50%;
            margin-top: 1%;
        }
    
        .web2btn{
            border: none;
            margin: 2% 0;
            padding: 1%;
            width: fit-content;
            text-decoration: none;
            height: fit-content;
            font-size: 1.2vw;
            font-weight: 600;
            background-color: var(--ethpurple);
            border-radius: 10px;
            cursor: pointer;
        }
    }
}