/* @import "../../global.scss"; */

.navbar {
    height: 60px;
    width: 100%;
    background-color: var(--ethblack);
    color: var(--ethpeach);
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all 1s ease;

    .wrapper {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            display: flex;
            align-items: center;
            width: 50%;
            margin-left: 2%;
            font-size: 1.8vw;

            .logo {
                width: 50px;
                padding-right: 3%;
            }

            .title {
                width: 50%;
                color: var(--ethpeach);
                text-decoration: none;
            }
            
        }

        .right {

            .hamburger{
                display: flex;
                padding-left: 2px;
                padding-right: 5px;
                width: 32px;
                height: 25px;
                background-color: var(--ethblack);
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;

                span {
                    width: 100%;
                    height: 3px;
                    background-color: var(--ethpeach);
                    transform-origin: left;
                    transition: all 1.2s ease;
                }
            }
        }
    }
    &.active {
        background-color: var(--ethgray);
        // color: var(--ethpeach);
        .right{

            .hamburger {
                background-color: var(--ethgray);
    
                span {
                    &:first-child {
                        background-color: var(--ethpeach);
                        transform: rotate(45deg);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                    &:last-child {
                        background-color: var(--ethpeach);
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}

// display: flex;
// font-size: 1.1vw;
// height: 100%;
// margin: 1%;

// .infoWrapper {
//     display: flex;
//     justify-content: space-evenly;
//     flex-direction: column;
//     margin-right: 1rem;

//     .addrEl {

//     }
    
//     .fishEl {
    
//     }
// }

// .logOutWrapper {
//     display: flex;
//     align-items: center;
//     height: 100%;

//     .logoutBtn {
//         border: none;
//         height: 70%;
//         border-radius: 50%;
//     }

// }
